# exclude any development-specific files
docs/
.vscode/
.idea/



# exclude build artifacts
tmp/

# exclude any version control files
.git/

# exclude Docker files
Dockerfile*
docker-compose*.yml

# exclude any development-specific files
**/*_test.go
.*ignore
*.log
*.md
*.out
*.toml
*.test
*.yml